@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid #c1c1c1;
  padding: 8px;
  width: 130px;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

textarea {
  border: 1px solid #c1c1c1;
  padding: 8px;
  width: 130px;
  border-radius: 10px;
}

textarea:focus {
  outline: none;
}

.approve {
  display: flex;
  align-items: center;
}

.errorMsg {
  font-size: 13px;
  color: red;
  font-weight: 600;
}

.action-btn {
  background-color: #000;
  color: #fff;
  padding: 8px 12px;
  font-weight: 600;
  border: none;
  font-size: 17px;
  margin-top: 8px;
}

.action-btn:disabled {
  background-color: #c1c1c1;
  color: #fff;
}

.action-btn:disabled:hover {
  background-color: #c1c1c1;
  color: #fff;
  border: none;
  cursor: default;
}

.action-btn:hover {
  background-color: #fff;
  color: #000;

  border: 0.7px solid #000;
}

.divider {
  height: 90px;
  background-color: #000;
  width: 3px;
  border-radius: 25px;
  margin-left: -30px;
}

.headerAndCreate {
  display: flex;
  align-items: flex-start;
}

.headerAndCreate img {
  margin-left: 10px;
}

.special-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.special-header h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 7px;
}

.special-header div {
  width: 60px;
  background-color: #fff;
  border: 1px solid #000;
  height: 4px;
  border-radius: 40px;
}

.red-progress {
  margin-top: 15px;
  height: 6px;
  border-radius: 10px;
  width: 20px;
  background-color: red;
}

.brown-progress {
  margin-top: 15px;
  height: 6px;
  border-radius: 10px;
  width: 80px;
  background-color: brown;
}

.yellow-progress {
  margin-top: 15px;
  height: 6px;
  border-radius: 10px;
  width: 100px;
  background-color: yellow;
}

.green-progress {
  margin-top: 15px;
  height: 6px;
  border-radius: 10px;
  width: 130px;
  background-color: green;
}

.mobile-not-supported {
  display: none;
}

@media (max-width: 1150px) {
  .mobile-not-supported {
    display: block;
  }

  .app-container {
    display: none;
  }
}
